@{
    ViewData["Title"] = "Admin Page";
}

<div class="container-fluid h-100">
    <header class="page-header">
        <h2>Admin</h2>
    </header>
    <section class="page-section">
        <nav class="sidenav">
            <ul>
                <li><a asp-area="" asp-controller="Admin" asp-action="ManageUsers">Manage users</a></li>
                <li><a asp-area="" asp-controller="Admin" asp-action="ManageRestaurants">Manage restaurants</a></li>
            </ul>
        </nav>

        <article class="page">
            <h1>Manage users</h1>
        </article>
    </section>
</div>
