
@{
    ViewData["Title"] = "Client Page";
}

<div class="container-fluid h-100">
    <header class="page-header">
        <h2>My page</h2>
    </header>
    <section class="page-section">
        <nav class="sidenav">
            <ul>
                <li><a asp-area="" asp-controller="Client" asp-action="BrowseRestaurants">Browse restaurants</a></li>
                <li><a asp-area="" asp-controller="Client" asp-action="Orders">My orders</a></li>
                <li><a asp-area="" asp-controller="Client" asp-action="Cart">Shopping cart</a></li>
            </ul>
        </nav>

        <article class="page">
            <h2>Welcome @ViewBag.name</h2>
            <p>Here you can create new orders or modify ongoing orders</p>
           
        </article>
    </section>
</div>
