@{
    ViewData["Title"] = "Client Page";
}

<div class="container-fluid h-100">
    <header class="page-header">
        <h2>My page</h2>
    </header>
    <section class="page-section">
        <nav class="sidenav">
            <ul>
                <li><a asp-area="" asp-controller="Client" asp-action="Client">My site</a></li>
                <li><a asp-area="" asp-controller="Client" asp-action="BrowseRestaurants">Browse restaurants</a></li>
                <li><a asp-area="" asp-controller="Client" asp-action="Cart">Cart</a></li>
            </ul>
        </nav>

        <article class="page">
            <h1>Modify order</h1>
        </article>
    </section>
</div>
